html {
  font-size:18px;
  font-family: Helvetica;
}

div {
  border: thin solid green;
}

.container {
  max-width:960px;
  margin: 0 auto;
}

span, li {
  color: white;
  text-transform: uppercase;
}

.header {
  background-color: black;
  width:100%;
}

.header img {
  margin: auto 1rem auto 0.5rem;
  height:1.5rem;
}

.header span {
  display: inline-block;
  margin:0.66rem 0px;
  font-size: 1rem;
}

.header .container {
  display: flex;
}

.banner {
  height: 25rem;
  background-image: url("../images/motor.jpeg");
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
}

.banner-block{
  width: 25rem;
  line-height: 1;
  background-color: black;
  color: white;
  font-weight: bold;
  position:absolute;
  top:9rem;
}

.banner-block span {
 display: inline-block;
}

.banner-title {
  font-size: 1rem;
  margin: 2rem auto auto 3rem;
}

.banner-spect {
  display: block;
  font-size: 2rem;
  margin: 0.25rem 3rem 2rem 3rem;
}

.options {
  width: 100%
  height: auto;
  background-color: firebrick;
}

.options li {
  display: inline-block;
  text-align: center;
  margin: 0.75rem 2.5rem;
  text-transform: capitalize;
}

.products {
  width: 100%;
  display: inline-block;
}

.products .container {
  display:flex;
  justify-content: space-between;
}

.product {
  display:inline-flex;
  flex-direction: column;
  align-items:center;
  align-content: center;
  margin: 3rem 0.5rem;
  width: 30%;
  height: 80%;

}

.product img {
  max-height: 9rem;
  padding: 2rem 2rem;
  border:4px solid black;
  max-width: 60%;
  align-items:center;
}

.product p {
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem 0px;
  width:12.5rem;
  line-height: 2rem;
}

.glasses img {
  padding: 4.25rem 3rem;
}

.particulars {
margin-top: 2rem;
display: flex;
}

.particulars .container {
  display: inline-flex;
  width:100%;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.particular {
    width:35%;
}

.particulars p {
  color:white;
  background-color: black;
  line-height: 3rem;

}

.particulars span {
  color: black;
}

footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  height: 10rem;
  width: 100%;
  text-align: left;
}

footer .container {
  width:100%;
}

footer p {
  text-transform: capitalize;
  text-align: left;
}

@media only screen and (max-width:1024px) {
  .product {
    width: 47%;
  }

.options {

}

.glasses {
    display: none;
  }
}

@media only screen and (max-width:470px) {
  .header img {
    display:inline-flex;
    align-items: center;
    justify-content: center;
  }


  .header span {
    display: none;
  }
}
