html {
  font-size:18px;
  font-family: Helvetica;
}

/*
div {
  border: thin solid green;
}
*/
.container {
  max-width:960px;
  margin: 0 auto;
}

span, li {
  color: white;
  text-transform: uppercase;
}

.header {
  background-color: black;
  width:100%;
}

.header img {
  margin: auto 1rem auto 0.5rem;
  height:1.5rem;
}

.header span {
  display: inline-block;
  margin:0.66rem 0px;
  font-size: 1rem;
}

.header .container {
  display: flex;
}

.banner {
  height: 25rem;
  background-image: url("../images/motor.jpeg");
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
}

.banner-block{
  width: 25rem;
  line-height: 1;
  background-color: black;
  color: white;
  font-weight: bold;
  position:absolute;
  top:9rem;
}

.banner-block span {
 display: inline-block;
}

.banner-title {
  font-size: 1rem;
  margin: 2rem auto auto 3rem;
}

.banner-spect {
  display: block;
  font-size: 2rem;
  margin: 0.25rem 3rem 2rem 3rem;
}

.options {
  text-align: center;
  background-color: firebrick;
}

.list{
  width:960px;
  display: inline-flex;
  justify-content: space-between;
  margin: 0.75rem 0px;
}

.list li {
  text-transform: capitalize;
}

.smaller {
  display: none;
}

.products {
  display: flex;
  justify-content: center;
}

.products .container {
  width:100%;
  display: inline-flex;
  justify-content: space-between;
}

.product {
  display:inline-flex;
  flex-direction: column;
  margin: 3rem 0px;
}

.product img {
  display: inline-flex;
  max-height: 9rem;
  padding: 2rem 2rem;
  border:4px solid black;
  width: auto;

}

.glasses {
  width:30%;
}

.glasses img {
  width:auto;
  height:240px;
  object-fit: contain;
}

.product p {
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem 0px;
  width:100%;
  line-height: 2rem;
}


.particulars {
margin-top: 2rem;
display: flex;
}

.particulars .container {
  display: inline-flex;
  width:100%;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.particular {
  width:35%;
}

.particulars p {
  color:white;
  background-color: black;
  line-height: 3rem;
  padding-left: 2rem;
}

.particulars span {
  color: black;
}

footer {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  height: 10rem;
  width: 100%;
  text-align: left;
}

footer .container {
  width:100%;
}

footer p {
  text-transform: capitalize;
  text-align: left;
}

@media only screen and (max-width:1024px) {
  .product {
    width: 47%;
  }

  .product img {
    width:auto;
    height:240px;
    object-fit: contain;
  }

  .list {
    display: none;
  }

  .smaller {
    margin: 0.75rem 0px;
    display: block;
    text-transform: capitalize;
    color: white;
  }

  .glasses {
      display: none;
  }

}

@media only screen and (max-width:470px) {
  .banner {
    height: 15rem;
  }

  .banner-block {
    top: 10rem;
  }

  .banner-title {
    font-size: 0.77rem;
    margin: 1rem auto auto 2rem;
  }

  .banner-spect {
    font-size: 1rem;
    margin: 0.25rem 3rem 1rem 2rem;
  }

  .watch {
    display: none;
  }

  .products .container {
    display: block;
    text-align: center;
  }

  .product {
    width:90%;
  }

  .particular {
    width: 90%;
    display: block;
    text-align: left;
  }

  .particulars .container{
    display: inline-block;

  }

  .location {
    margin-bottom: 0.5rem;
  }

  footer p {
    text-align: center;
  }

}




















}
